fastapi
uvicorn[standard]
python-dotenv
motor
pymongo
openai
sentence-transformers
faiss-cpu
numpy
pdfplumber
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
tqdm
huggingface_hub